<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read registre</title>
</head>
<body>
    <h3>producte {{ product['id'] }}</h3>
     <ul>
        <li>Titol: {{ product['title'] }}</li>
        <li>Descripcio: {{ product['description'] }}</li>
        <li>Foto: {{ product['photo'] }}</li>
        <li>Preu: {{ product['price'] }}</li>
     </ul>
     <a href="/items/list">&#x3c;&#x3c; Tornar al llistat d'items</a>
</body>
</html>
